<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {{ bootstrap.load_css() }}
        {{ bootstrap.load_js() }}

        <title></title>
    </head>
    <body>
        <div class="text-center">
            <img src="https://wallpapers.com/images/hd/nightmare-before-christmas-phone-kidj94zbe26zm53r.jpg" class="rounded w-50">
        </div>
      
    
    </body>
</html>