<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
	<!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}

        <title></title>
    </head>
    <body>
        <!-- Your page content -->
        <div class="text-center">
            <img src="https://wallpapers.com/images/hd/nightmare-before-christmas-phone-kidj94zbe26zm53r.jpg" class="rounded w-50">
        </div>
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    
    </body>
</html>